html{
    font-size: 64.2%;
}

body{
    font-size: 1.6rem;
    color: @primary-color;
}

.container{
    font-family: Carlito;
    .resetmp;
}

.narrow{
    width: 100vw;
    margin: auto;

    @media (min-width: 550px) {
        width: 90vw;
    }
}